/* GLOBAL STYLES */
html {
   box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

    /* font-family: Helvetica Neue, */

*,
*:before,
*:after {
   box-sizing: inherit;
   letter-spacing: 0.4px;
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
/* SHARED STYLES */
.header , .hero-section , .buttons , .events {
   padding: 1px clamp(2vw, 3vw, 10vw);
}

/* HEADER STYLES */

.header {
    background-color: #ffdc00;
    color: #594a25;
    }

   .header-icon {
      width: 80px;
      height: 80px;

    }

    .header-container {
      display: flex;
      justify-content: space-between;
    }

   .header-h1 {
      margin-top: 20px;
   }

.main-nav {
   margin-left: 25px;
   margin-top: 60px;
}

.nav-link {
    color: #594a25;
    font-weight: 500;
    font-size: 18px;
    }

   .nav-list {
      display: flex;
      align-items: center;
      gap: 15px;
   }


.logo {
    display: flex;
    align-items: center;
    width: fit-content;
    
}

.logo h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #594a25;
}
.header-span {
   font-weight: normal;
}

.login-btn {
    background-color: #594a25;
    color: #ffdc00;
    border: none;
    padding: 12px 17px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
#search-icon {
   font-size: 38px;
   font-weight: bold;
}
.search-btn {
    background: transparent;
    border: none;
    color: #594a25;
    cursor: pointer;
    margin-bottom: 10px;
}

.nav-item6 {
   position: relative;
}
.nav-item7 {
   position: absolute;
   top: 15px;
   right: 5.2rem;
}



/* HERO SECTION */